<div class="container">

  <section class="container">
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner text-center">
          <%= image_tag("aboutus.gif", :alt => "about us banner") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("about_title.png", :alt => "reads about us", :class => "w-50") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="text-center">
          <br>
          <%= image_tag("construction.png", :alt => "an eryie in a construction outfit") %>
        </div>
      </div>
    </div>
</div>
</section>

<br>
<h4 class="text-center">Under construction!</h4>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr class="table-active">
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </thead>
    <tbody>
      <tr>
        <td>One</td>
        <td>Two</td>
      </tr>
    </tbody>
  </table>
</div>