<div class="container">

  <section class="container">
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner text-center">
          <%= image_tag("contactus.gif", :alt => "contact us banner") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("scorpio_giftwrap.gif", :alt => "a neopet wraps gifts", :class => "rounded") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div>
          <%= image_tag("reach_out.png", :alt => "reads reach out",  :class => "w-50") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="text-center">
          <br>
          <%= image_tag("construction.png", :alt => "an eryie in a construction outfit") %>
        </div>
      </div>
    </div>
</div>
</section>

<br>
<h4 class="text-center">Under construction!</h4>
</div>