<div class="container">

  <section class="container">
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner text-center">
          <%= image_tag("contactus.gif", :alt => "contact us banner") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("scorpio_giftwrap.gif", :alt => "a neopet wraps gifts", :class => "rounded") %>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-sm text-center">-->
<!--        <div>-->
          <%#= image_tag("reach_out.png", :alt => "reads reach out",  :class => "w-25") %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm text-center">-->
<!--        <div class="text-center">-->
<!--          <br>-->
          <%#= image_tag("construction.png", :alt => "an eryie in a construction outfit") %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  </section>

<br><br>

  <section class="text-center">
    <h4 class="text-center">Thank you for your interest in reaching out!  Our team would be glad to assist you.</h4>
    <h5>Kayla, Agile Design Team <a href="https://github.com/Kaylaj89/" target="_blank">@Github</a></h5>
    <h5>Kim, TDD Team <a href="https://github.com/kimvitug05/" target="_blank">@Github</a></h5>
    <h5>Madeline, Reviews & Customer Care <a href="https://github.com/made-line/" target="_blank">@Github</a></h5>
    <h5>Ren, Order Fulfillment Distro <a href="https://github.com/RenCarothers" target="_blank">@Github</a></h5>
  </section>

  <br><br>

  <div class="text-center top-banner">
  <%= image_tag("cubehell.gif", :alt => "an officespace full of neopets", :class => "rounded") %>
  </div>

</div>