<section class="container">
  <h2>Create New Category</h2>

  <%= form_with model: @categorization do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <%= f.submit action_name, :class => "btn btn-primary"%>
  <% end %>
</section>