<section class="container">
  <h2>Your Shopping Cart:</h2>
  <% if !@order %>
    Your cart is currently empty!
  <% else %>
    <% @order.order_items.each do |item| %>

          <%= item.product.name %>
            <% end %>
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
      <hr>
    <% end %>
    <h3 class="text-right">Cart Total: <%= number_to_currency(@cart_total) %></h3>
  <%# end %>
  <div class="text-right">
    <%= link_to "Clear Cart", clear_cart_path, class: "btn btn-secondary" %>
    <%= link_to "Go Shopping", products_path, class: "btn btn-secondary" %>
    <%#= link_to "Checkout", checkout_path, class: "btn btn-secondary" %>
  </div>
</section>


