

<% if @cart_total > 0 %>
<%= render partial: "form", locals: { action_name: "Submit Order" } %>
<% else %>

  <p>There is nothing to checkout yet. <%= link_to "Go Shopping", products_path %></p>

<%end %>