<div class="merchant-grid row">
  <% merchants.each do |merchant| %>
    <div class="col-6 col-md-4 py-3">
      <%= render partial: 'merchants/merchant-card', locals: { merchant: merchant } %>
    </div>
  <% end %>
</div>