<div class="card border-secondary mb-3 d-flex h-100 merchant-card">

  <!-- /// IMAGE /// -->
  <section class="merchant-image container">
    <%= image_tag "shopkeeper_#{rand(1..8)}.gif" %>
  </section>

  <section class="card-body">
    <!-- /// NAME /// -->
    <h5 class="card-title text-center">
      <%= merchant.username.capitalize %>
    </h5>

    <!-- /// JOIN DATE /// -->
    <h5 class="card-text text-success text-center">
      Joined: <%= readable_date(merchant.created_at) %>
    </h5>
  </section>

  <!-- /// PRODUCTS /// -->
  <section class="display-products container">
    <div class="row">
      <div class="col-sm text-center">
        <%= button_to 'View Products', merchant_path(merchant.id), method: :get, :class => 'btn btn-primary' %>
        <br>
      </div>
    </div>
  </section>
</div>