<div class="container">
  <div class="top-banner">
    <%= image_tag("market_bazaar.gif", :alt => "marketplace banner") %>
  </div>

  <% if @login_user %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants.where.not(id: @login_user.id) } %>
  <% else %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants } %>
  <% end %>

</div>