<div class="container">
  <h2>Merchants</h2>

  <% if @login_user %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants.where.not(id: @login_user.id) } %>
  <% else %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants } %>
  <% end %>

</div>