/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.navbar-nav{
 margin-bottom:-8px
}

div.top-banner {
 padding: 6px;
 display: flex;
 justify-content: center;
}

div.top-banner img {
 opacity: 0.75;
}

.dropdown-menu {
  left: unset;
  right: 0;
}

.cart-product-image-preview {
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100%;
  position: relative;
  background-size: cover;
  margin-left: 25px;
  margin-top: 20px;
}

.btn-increment, .btn-decrement {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.btn-increment {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-decrement {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.cart-product-quantity {
  border-bottom: 1px solid #f3969a;
  border-top: 1px solid #f3969a;
  padding-bottom: 7px;
  padding-top: 5px;
}

.even-larger-badge {
    font-size: 1em;
}

.caption-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.caption-img-container img {
  width:100%;
  opacity: 0.75;
}

.caption-img-container:hover img {
  opacity: 0.95;
}

// .over-img-text {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-shadow:
//   -1px -1px 0 #000,
//   1px -1px 0 #000;
//
//   color: white;
//   font-size: 20px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
//
// .over-img-text:hover {
//       display: none;
// }

.form-control::placeholder {
  color: #d2cccc;
  opacity: 1;
}