// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.merchant-photo {
  max-width: 250px;
}

.merchant-image-preview {
  background-size: cover;
  padding-bottom: 300px;
  position: relative;
  width: 100%;
}