// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-photo {
  max-width: 250px;
}

.product-image-preview {
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100px;
  position: relative;
  max-width: 100%;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-left: 35px;
  margin-top: 20px;
}

.product-card {
 width: 220px;
 padding-left: 10px;
 padding-right: 10px;
}

.custom-checkbox {
  input {
    margin-left: 8px;
  }
  label {
    margin-left: 4px;
    margin-right: 8px;
  }
}