<div class="product-grid row">
  <% products.each do |product| %>
    <div class="col-6 col-md-3 py-3">
      <%= render partial: 'products/product-card', locals: { product: product } %>
    </div>
  <% end %>
</div>