

<% @products.each do |product|%>
  <h3><%= product.name %></h3>
  <%# if product.photo.present? %>
<!--    <p><%#= image_tag product.image.variant(resize_to_limit: [100, 100].processed) %></p>-->
    <%#end %>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <p><%= product.description %></p>
  <p><%= link_to product.name, product_path(product.id) %></p>

<% end %>