<div class="container">

  <div class="top-banner">
    <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
  </div>

  <% if @login_user %>
    <%= render partial: 'product-grid', locals: { products: @products.where.not(merchant_id: @login_user.id, active: false) } %>
  <% else %>
    <%= render partial: 'product-grid', locals: { products: @products.where(active: true) } %>
  <% end %>

</div>
