<div class="container">
  <h2>Products</h2>

  <% if @login_user %>
    <%= render partial: 'product-grid', locals: { products: @products.where.not(merchant_id: @login_user.id, active: false) } %>
  <% else %>
    <%= render partial: 'product-grid', locals: { products: @products.where(active: true) } %>
  <% end %>

</div>
