<section class="header-images container">
  <div class="row">
    <div class="col-sm text-center">
      <div class="top-banner">
        <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <div class="top-banner">
        <%= image_tag("veggie_quiggle.gif", :alt => "a quiggle in a veggie patch", :class => "rounded") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <div class="text-center">
        <%= image_tag("new_product.png", :alt => "reads new products", :class => "w-50") %>
      </div>
    </div>
  </div>
</section>

<section class="product-form">
  <%= render partial: 'product-form', locals: { edit: false } %>
</section>